.max-width-container {
  width: 100%;
  margin: 0 auto;
}

.max-width-container.page-wrapper {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
}

@media screen and (min-width: 375px) {
  .max-width-container {
    max-width: var(--mobile);
  }
}

@media screen and (min-width: 834px) {
  .max-width-container {
    max-width: var(--tablet);
  }
}

@media screen and (min-width: 1440px) {
  .max-width-container {
    max-width: var(--desktop);
  }
}